.categories_container{
    display: flex;
    gap: 10px;
}
.category{
    display: inline-block;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
}